<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2017 Louis S. Berman.

This file is part of TickData.

TickData is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

TickData is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with TickData.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TickData.HistDataFetch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <applicationSettings>
    <TickData.HistDataFetch.Properties.Settings>
      <setting name="TickDataPath" serializeAs="String">
        <value>%MYDOCUMENTS%\TickData</value>
      </setting>
      <setting name="AssetsToFetch" serializeAs="String">
        <value>GBPCHF,GBPJPY,EURUSD</value>
      </setting>
      <setting name="FirstYearToFetch" serializeAs="String">
        <value>2012</value>
      </setting>
    </TickData.HistDataFetch.Properties.Settings>
  </applicationSettings>
</configuration>
