<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright 2017 Louis S. Berman.

This file is part of TickData.

TickData is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

TickData is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with TickData.  If not, see <http://www.gnu.org/licenses/>.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="Product"
            value="HistDataFetch" />
  <variable name="Logs"
            value="Logs" />
  <variable name="FileName"
            value="${Product}.${date:cached=true:format=yyyyMMddHHmmssfff}.log" />
  <variable name="FilePath"
            value="${Logs}/${date:format=yyyy_MM_dd}/${FileName}" />
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${FilePath}">
      <layout xsi:type="CSVLayout"
              delimiter="Comma"
              withHeader="True"
              quoting="Auto">
        <column name="LoggedOn"
                layout="${longdate}" />
        <column name="Level"
                layout="${level:uppercase=true}" />
        <column name="Message"
                layout="${message}" />
      </layout>
    </target>
    <target xsi:type="Null"
            name="blackhole" />
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time}|${pad:padding=-5:inner=${level:uppercase=true}}|${message}" />
  </targets>
  <rules>
    <logger name="*"
            minLevel="Trace"
            writeTo="console" />
    <logger name="*"
            minlevel="Trace"
            writeTo="file" />
    <logger name="Microsoft.*"
            minlevel="Trace"
            writeTo="blackhole"
            final="true" />
  </rules>
</nlog>
